
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 18%;
    --foreground: 0 0% 100%;
    --card: 220 13% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 220 13% 18%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 220 13% 18%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 12% 24%;
    --muted-foreground: 0 0% 80%;
    --accent: 220 12% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 24%;
    --input: 220 13% 24%;
    --ring: 220 13% 44%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 18%;
    --foreground: 0 0% 100%;
    --card: 220 13% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 220 13% 18%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 220 13% 18%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 12% 24%;
    --muted-foreground: 220 18% 50%;
    --accent: 220 12% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 24%;
    --input: 220 13% 24%;
    --ring: 220 13% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Inter", system-ui, sans-serif;
    letter-spacing: 0.01em;
  }
  .container {
    @apply max-w-6xl mx-auto;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #23272e;
}
::-webkit-scrollbar-thumb {
  background: #191d22;
  border-radius: 12px;
}

